{% extends "template.html" %}

{% block subtitle %}
About Us
{% endblock %}

{% block main %}
  <p>Welcome to "Night Thought" – a place where every thought becomes a story, and every moment before sleep takes on profound meaning. We've created this site to provide a sanctuary for your most intimate and sensual reflections that emerge in that magical moment when the day gives way to night.</p>

  <p>"Night Thought" is not just a platform for sharing thoughts; it's an endless ocean of emotions and moments that form in the depths of your consciousness before you immerse yourself in the world of dreams. We believe that every thought, every feeling you wish to share deserves special attention.</p>
    
  <p>Here, you'll find a community where people from around the world come together to express their thoughts, tender feelings, and secret desires that arise in the quiet of the night. We believe in the power of the art of self-expression and how it can bind us, even when the night separates us physically.</p>
    
  <p>"Night Thought" is not just a virtual space; it's an emotional journey where each post is a drop in the ocean of our shared human experience. Welcome to our community, where words become a bridge between our hearts, illuminating the night sky of our reflections.</p>
  <div class="centered-image-container">
    <img src="{{ url_for('static', filename='imgs/cosmic.png') }}" alt="About Us Image" class="centered-image" style="height: 650px;">
  </div>
  <p>Dululu!</p>
{% endblock %}
